@model EamProject3.Models.Request

<link rel="stylesheet" href="~/css/paid_request.css"/>
<div class="container">
    <h1 class="title">Request: @Model.Number</h1>
    <label class="label">Payment Method</label>
    <span class="value">@(Model.PaymentMethod == null ? "N/A" : Model.PaymentMethod)</span>
    <label class="label">Tax</label>
    <span class="value">@Model.Situation.Tax</span>
    <a class="back-button load-partial" asp-controller="Student" asp-action="Requests">Back</a>
</div>