<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EAM</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src="~/eamlogo.png" alt="EamLogo" style="max-height: 30px; width: auto;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.GetInt32("LoggedUserId") != null
                            && Context.Session.GetInt32("LoggedUserId") != -1)
                        {
                            switch (Context.Session.GetString("Role"))
                            {
                                case "Student":
                                    <li class="nav-item">
                                        <a class="nav-link text-dark load-partial" asp-controller="Student" asp-action="Requests">Requests</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark load-partial" asp-controller="Student" asp-action="NewRequest">New Request</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark load-partial" asp-controller="Student" asp-action="Grades">Grades</a>
                                    </li>
                                    break;
                                case "Teacher":
                                    <li class="nav-item">
                                        <a class="nav-link text-dark load-partial" asp-controller="Teacher" asp-action="Requests">Requests</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark load-partial" asp-controller="Teacher" asp-action="ModuleGrades">Grades</a>
                                    </li>
                                    break;
                                case "Secretary":
                                    <li class="nav-item">
                                        <a class="nav-link text-dark load-partial" asp-area="" asp-controller="Secretary" asp-action="Requests">Requests</a>
                                    </li>
                                    break;
                            }
                            <li class="nav-item">
                                <a id="logout" class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">Leave</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>

    </script>
</body>
</html>
