USE [master]
GO
/****** Object:  Database [eam]    Script Date: 09/03/2025 20:32:43 ******/
CREATE DATABASE [eam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\eam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'eam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\eam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eam]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 09/03/2025 20:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](120) NOT NULL,
	[max_students] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 09/03/2025 20:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[abbreviation] [varchar](10) NOT NULL,
	[name] [varchar](120) NOT NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseSubject]    Script Date: 09/03/2025 20:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseSubject](
	[course_id] [int] NOT NULL,
	[subject_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC,
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 09/03/2025 20:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](156) NOT NULL,
	[number] [int] NOT NULL,
	[subject_id] [int] NOT NULL,
	[duration_min] [int] NOT NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 09/03/2025 20:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [varchar](120) NOT NULL,
	[student_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[exam_datetime] [datetime] NOT NULL,
	[duration_min] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[module_id] [int] NOT NULL,
	[teacher_id] [int] NOT NULL,
	[situation_id] [int] NOT NULL,
	[grade] [decimal](4, 2) NULL,
	[payment_method] [varchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestHistory]    Script Date: 09/03/2025 20:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestHistory](
	[request_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[datetime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC,
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 09/03/2025 20:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](120) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Situation]    Script Date: 09/03/2025 20:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Situation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](64) NOT NULL,
	[start_at] [date] NULL,
	[end_at] [date] NULL,
	[tax] [decimal](6, 2) NOT NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 09/03/2025 20:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](120) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 09/03/2025 20:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[abbreviation] [varchar](10) NOT NULL,
	[name] [varchar](120) NOT NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherSubject]    Script Date: 09/03/2025 20:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSubject](
	[teacher_id] [int] NOT NULL,
	[subject_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[teacher_id] ASC,
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09/03/2025 20:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[identification] [varchar](64) NOT NULL,
	[nif] [varchar](9) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[first_name] [varchar](255) NOT NULL,
	[last_name] [varchar](255) NOT NULL,
	[profile_pic] [varbinary](max) NOT NULL,
	[password_hash] [varchar](max) NOT NULL,
	[role_id] [int] NOT NULL,
	[class_id] [int] NULL,
	[birth_date] [date] NOT NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([id], [name], [max_students], [course_id], [is_deleted]) VALUES (1, N'TGPSI22/01', 30, 1, 0)
INSERT [dbo].[Class] ([id], [name], [max_students], [course_id], [is_deleted]) VALUES (2, N'TGPSI22/02', 31, 1, 0)
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([id], [abbreviation], [name], [is_deleted]) VALUES (1, N'TGPSI', N'TGPSI', 0)
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
INSERT [dbo].[CourseSubject] ([course_id], [subject_id]) VALUES (1, 3)
INSERT [dbo].[CourseSubject] ([course_id], [subject_id]) VALUES (1, 4)
INSERT [dbo].[CourseSubject] ([course_id], [subject_id]) VALUES (1, 5)
GO
SET IDENTITY_INSERT [dbo].[Module] ON 

INSERT [dbo].[Module] ([id], [name], [number], [subject_id], [duration_min], [is_deleted]) VALUES (8, N'Saramago', 1, 3, 7200, 0)
INSERT [dbo].[Module] ([id], [name], [number], [subject_id], [duration_min], [is_deleted]) VALUES (9, N'Gramatica', 2, 3, 3600, 0)
INSERT [dbo].[Module] ([id], [name], [number], [subject_id], [duration_min], [is_deleted]) VALUES (10, N'Cesário Verde', 3, 3, 6090, 0)
SET IDENTITY_INSERT [dbo].[Module] OFF
GO
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([id], [number], [student_id], [status_id], [exam_datetime], [duration_min], [course_id], [module_id], [teacher_id], [situation_id], [grade], [payment_method]) VALUES (25, N'01/220001', 4, 5, CAST(N'2025-03-04T08:30:00.000' AS DateTime), 120, 1, 8, 8, 2, CAST(11.00 AS Decimal(4, 2)), N'Debit/Credit Card')
INSERT [dbo].[Request] ([id], [number], [student_id], [status_id], [exam_datetime], [duration_min], [course_id], [module_id], [teacher_id], [situation_id], [grade], [payment_method]) VALUES (26, N'02/220001', 4, 5, CAST(N'2025-03-04T08:30:00.000' AS DateTime), 120, 1, 14, 10, 1, CAST(10.00 AS Decimal(4, 2)), N'Cash')
INSERT [dbo].[Request] ([id], [number], [student_id], [status_id], [exam_datetime], [duration_min], [course_id], [module_id], [teacher_id], [situation_id], [grade], [payment_method]) VALUES (27, N'01/220002', 5, 5, CAST(N'2025-03-04T08:30:00.000' AS DateTime), 120, 1, 8, 8, 3, CAST(14.00 AS Decimal(4, 2)), N'Debit/Credit Card')
SET IDENTITY_INSERT [dbo].[Request] OFF
GO
INSERT [dbo].[RequestHistory] ([request_id], [status_id], [user_id], [datetime]) VALUES (25, 1, 4, CAST(N'2025-03-09T19:50:53.103' AS DateTime))
INSERT [dbo].[RequestHistory] ([request_id], [status_id], [user_id], [datetime]) VALUES (25, 3, 8, CAST(N'2025-03-09T20:00:51.367' AS DateTime))
INSERT [dbo].[RequestHistory] ([request_id], [status_id], [user_id], [datetime]) VALUES (25, 4, 7, CAST(N'2025-03-09T20:07:13.703' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [name]) VALUES (1, N'Student')
INSERT [dbo].[Role] ([id], [name]) VALUES (2, N'Teacher')
INSERT [dbo].[Role] ([id], [name]) VALUES (3, N'Secretary')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Situation] ON 

INSERT [dbo].[Situation] ([id], [name], [start_at], [end_at], [tax], [is_deleted]) VALUES (1, N'Exempt', NULL, NULL, CAST(0.00 AS Decimal(6, 2)), 0)
INSERT [dbo].[Situation] ([id], [name], [start_at], [end_at], [tax], [is_deleted]) VALUES (2, N'Recovery Period', CAST(N'2000-02-01' AS Date), CAST(N'2000-03-01' AS Date), CAST(0.05 AS Decimal(6, 2)), 0)
INSERT [dbo].[Situation] ([id], [name], [start_at], [end_at], [tax], [is_deleted]) VALUES (3, N'Off-Season', NULL, NULL, CAST(0.10 AS Decimal(6, 2)), 0)
SET IDENTITY_INSERT [dbo].[Situation] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([id], [description]) VALUES (1, N'Pending Approval')
INSERT [dbo].[Status] ([id], [description]) VALUES (2, N'Not Approved')
INSERT [dbo].[Status] ([id], [description]) VALUES (3, N'Pending Payment')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([id], [abbreviation], [name], [is_deleted]) VALUES (3, N'PT', N'Português', 0)
INSERT [dbo].[Subject] ([id], [abbreviation], [name], [is_deleted]) VALUES (4, N'PSI', N'Programação e Sistemas de Informação', 0)
INSERT [dbo].[Subject] ([id], [abbreviation], [name], [is_deleted]) VALUES (5, N'MAT', N'Mátematica', 0)
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
INSERT [dbo].[TeacherSubject] ([teacher_id], [subject_id]) VALUES (8, 3)
INSERT [dbo].[TeacherSubject] ([teacher_id], [subject_id]) VALUES (8, 4)
INSERT [dbo].[TeacherSubject] ([teacher_id], [subject_id]) VALUES (10, 3)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[CourseSubject]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[CourseSubject]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[Module]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([module_id])
REFERENCES [dbo].[Module] ([id])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([situation_id])
REFERENCES [dbo].[Situation] ([id])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[Status] ([id])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[RequestHistory]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[Request] ([id])
GO
ALTER TABLE [dbo].[RequestHistory]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[Status] ([id])
GO
ALTER TABLE [dbo].[RequestHistory]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[TeacherSubject]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[TeacherSubject]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Class] ([id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([id])
GO
USE [master]
GO
